<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Edit Book</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Chỉnh sửa sách</h1>
    <form th:action="@{/books/edit}" th:object="${book}" method="post">
        <input class="form-control" type="hidden" th:field="*{id}">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Tiêu đề:</label>
            <input class="form-control" type="text" th:field="*{title}" id="title">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="author">Tác giả: </label>
            <input class="form-control" type="text" th:field="*{author}" id="author">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Giá tiền:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Thể loại:</label>
            <select class="form-control" id="category" name="category.id">
                <option th:value="*{category.id}" th:text="*{category.name}"></option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

        </div>
        <input type="submit" class="btn btn-outline-primary" value="OK">
        <a th:href="@{/books}" class="btn btn-outline-success">Về Danh Sách</a>
    </form>
    <br>
    <a th:href="@{/books}"></a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>